<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>This demo is for ng6 aot provider issue</h1>
  <h2>Issue Description:</h2>
  <h3>Logging http interceptor is not working in AOT.</h3>
  <h2>Detail Instruction:</h2>
  <h3>I set a logging http interceptor to log the ajax request.</h3>
  <h3>But it works in JIT, but AOT.</h3>
  <h2>JIT (DEV:  npm start)</h2>
  <div>
    <img src="./assets/jit.png">
  </div>
  <h2>AOT (Prod: npm run build)</h2>
  <div>
    <img src="./assets/aot.png">
  </div>
</div>

